/*font-family: 'Sorts Mill Goudy', serif;*/
h1{
	font-family: 'Sorts Mill Goudy', serif;
	font-weight: normal: 100;

}
.new{
	color:red;
}
.logo{
	font-size:4em;
}
.highlight{
	background-color:yellow;
} 
body {background:url("../img/diagonales_decalees.png");
}
/*body {background-color:#e5d7ca;*/
}
a {color:#9011d4;
}
.index{list-style:none;
}